* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/* start our framework*/
.container {
    width: 1200px;
    margin: auto;
    position: relative;
}
.table {
    height: 100%;
    display: table
}
.text-center {
    text-align: center
}
.table-row {
    display: table-row
}
.ubber {
    text-transform: uppercase
}
.main-color {
    color: #f7600e
}
.main-back {
    background-color: #f7600e
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(49, 55, 61, 0.7)
}
.hidden {
    display: none
}
/* end our framework*/

/* start header*/
.header {
    background: url(../image/img-1.jpg);
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header .overlay .links {
    float: right
}
.header .overlay .links i {
    margin-left: 5px
}
.header .navber {
    overflow: hidden;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}
.header .navber .logo {
    font-size: 24px
}
.header .intro h1{
    margin: 0;
    font-size: 50px;
    font-weight: 800px;
}
.header .intro p {
   margin: 5px 0 40px;
    line-height: 1.8;
    font-size: 20px;
    color: #e2e2e2
}
.header .buttons button {
    background: transparent;
    padding: 5px 0;
    width: 180px;
    font-size: 14px;
    border: 1px solid #909090;
    margin: 0 8px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.header .buttons button:hover {
    background-color: #f7600e;
    border: 1px solid #f7600e;
}
.header .arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 40px
}
.header .arrow  i {
    color: #f7600e;
    border: 2px solid #FFF; 
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.header .arrow i:hover{
    color: #fff;
    background: #f7600e;
    border: 2px solid #f7600e;
}
/* end header*/

/* start features */
.features {
    padding: 80px 0;
    overflow: hidden
}
.features .box {
    width: 22%;
    float: left;
    margin-right: 4%
    
}
.features .box:last-child {
    margin-right: 0;
}
.features .box i {
    border: 2px solid #CCC;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 120px
}

.features .box h3 {
    text-transform: uppercase;
    font: normal;
    color: #666;
}
.features .box p {
    color: #505050;
    line-height: 2;
}
/* end features */ 

/*start subscribe*/
.subscribe {
    background: url(../image/img-2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.subscribe form {
    padding: 100px 0;
    width: 700px;
    margin: auto;
    text-align: center
}
.subscribe form input[type="email"] {
    padding: 8px;
    width: 400px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    top: 2px;
    border: none
}
.subscribe form button {
    padding: 13px;
    width: 220px;
    background: #f7600e;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 15px;
    border: none;
    cursor: pointer
}
/*end subscribe*/

/*start our work*/
.our-work {
    padding: 50px 0
}
.our-work h2 {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 0
}

.our-work h2 ~ p {
    line-height: 2;
    margin: 10px 0 40px;
}
.our-work .show-more {
    padding: 15px;
    margin-top: 70px  ;
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: none;
    color: #444;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.our-work .show-more:hover {
    background: #f7600e;
    border: 1px solid #f7600e;
    color: #fff
}
.our-work  .item-box {
    overflow: hidden
}
.our-work  .item-box .item {
    float: left;
    width: 32%;
    overflow: hidden;
    margin-left: 1.3333%;
    margin-bottom: 13px;
    border-radius: 15px;
    position: relative;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.our-work  .item-box .item:hover .over {
    display: block
}
.our-work  .item-box .item .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(247, 96, 14, 0.8);
    color: #fff;
    display: none;
}
.our-work  .item-box .item img {
    width: 100%
}
.our-work  .item-box .over h4 {
    font-size: 24px;
    margin-top: 90px;
    margin-bottom: 0;
}
.our-work  .item-box .over p {
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 2;
}
.our-work  .item-box .over button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
     -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.our-work  .item-box .over button:hover {
    background: #fff;
    color: #f7600e
}
/*end our work*/

/*start testimonials*/
.testimonials {
    background: url(../image/img-9.jpg) fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.testimonials .client {
    padding: 50px 0;
    color: #fff;
    font-size: 20px
}
.testimonials .client img {
    border-radius: 50%;
    
}
.testimonials .client p {
    line-height: 2;
    font-style: italic
}
.testimonials .client {
    text-transform: uppercase
}
.testimonials .fa-chevron-right,
.testimonials .fa-chevron-left {
    position: absolute;
    top: 50%;
    cursor: pointer;
    color: #b4b4b4;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.testimonials .fa-chevron-right:hover,
.testimonials .fa-chevron-left:hover {
    color: #f7600e
}
.testimonials .fa-chevron-right {
    right: 0
}
.testimonials .fa-chevron-left {
    left: 0
}
/*end testimonials*/

/*start our team */
.our-team {
    padding: 50px 0;
}
.our-team h2 {
    font-size: 35px;
    margin-bottom: 0
}
.our-team .main {
    margin: 10px 0 40px;
    line-height: 2;
    font: 20px;
    color: #666
}
.our-team .the-team {
    overflow: hidden
}
.our-team .the-team .person {
    float: left;
    width: 24%;
    margin-left: 1%;
    color: #888;
}
.our-team .the-team .person:hover img {
    filter: none;
    -webkit-filter: grayscale(0);
}
.our-team .the-team .person:hover {
    color: #555
}
.our-team .the-team .person:hover .fa-facebook-f {
    background: #3b5998
}
.our-team .the-team .person:hover .fa-twitter {
    background: #1da1f2
}
.our-team .the-team .person:hover .fa-google-plus {
    background: #dd4b39
}
.our-team .the-team .person img {
    border-radius: 15px;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
}

.our-team .the-team .social i {
    background: #9da1a5;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border-radius: 50%
}

.our-team .the-team .person h3 {
    font-size: 15px
}
/*end our team */

/*start contact-form*/
.contact {
    background: url(../image/img-15.jpg) fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contact .overlay {
    padding: 50px 0;
    color: #fff
}
.contact h2 {
    font-size: 35px
}
.contact form {
    width: 700px;
    text-align: center;
    margin: 50px auto;
    overflow: hidden
}
.contact form input[type="text"],
.contact form input[type="email"] {
    width: 48%;
    border-radius: 15px;
    padding: 15px 10px;
    border: 1px solid #ccc;
    background: transparent;
    color: #fff
}
.contact form input[type="text"] {
    float: left
}
.contact form input[type="email"] {
    float: right
}
.contact form textarea {
    margin-top: 20px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 140px;
    background: transparent;
    color: #fff
}
.contact form .group {
    overflow: hidden;
    margin-top: 15px
}
.contact form .group button {
    float: left;
    padding: 13px;
    width: 220px;
    background: #f7600e;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer
}
.contact form .group .social-icon {
    float: right;
}
.contact form .group .social-icon i {
   background: #9da1a5;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 50% ;
    margin-right: 10px
}
.contact form .group .social-icon  .fa-facebook-f {
    background: #3b5998
}
.contact form .group .social-icon .fa-twitter {
    background: #1da1f2
}
.contact form .group .social-icon  .fa-google-plus {
    background: #dd4b39
}
   
/*end contact-form*/

/*start footer*/
.footer {
    background: #3b434c;
    color: #fff;
    overflow: hidden;
    padding: 30px 0
}
.footer .left {
    float: left
}
.footer .right {
    float: right
}
/*end footer*/