/*
 ** overlay mixin
*/
 /*
    ** prefixes
    ** Auto add prefixes to properties
*/
 /*
    ** animation mixin
    ** Auto add prefixes to animation
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clearfix {
  clear: both;
}

@media (min-width: 767px), (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
}

.head-with-border {
  position: relative;
}
.head-with-border h2 {
  text-align: center;
  background: #e2494c;
  color: #ffffff;
  margin: 40px auto;
  border-radius: 15px;
  width: 400px;
  padding: 10px 15px;
  text-transform: uppercase;
}
.head-with-border h2:before {
  content: '';
  height: 1px;
  width: 100%;
  background: #9c9c9c;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

.main-button {
  padding: 20px 40px;
  font-size: 1.2em;
  font-family: monospace;
  font-weight: bold;
  outline: inherit;
  border: none;
  cursor: pointer;
  background: crimson;
  color: #f0f0f0;
  position: relative;
  border-radius: 20px;
}
.main-button:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}
.main-button:active {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.main-button::after {
  content: "hover over";
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: crimson;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  border-radius: 20px;
  transition: all .5s ease-in-out;
}
.main-button:hover::after {
  z-index: 1;
  opacity: 0;
  transform: scale(1.5);
}

.the-toggler {
  background: #e2494c;
  border: none;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  display: none;
  float: left;
}
@media (max-width: 767px) {
  .the-toggler {
    display: block;
  }
}
.the-toggler span {
  display: block;
  width: 50px;
  height: 4px;
  background: #fff;
}
.the-toggler span:not(:last-child) {
  margin-bottom: 5px;
}

body {
  background: #f6f6f6;
  font-family: tahoma;
  font-size: 16px;
}

ul, ol {
  list-style: none;
  padding: 0;
}

/* start header */
.header {
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #9c9c9c;
}
.header .logo {
  position: relative;
}
@media (min-width: 768px) {
  .header .logo {
    width: 100%;
    float: none;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .header .logo {
    width: 30%;
    float: left;
    /* direction*/
    text-align: left;
  }
}
.header .logo h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
.header .navbar {
  overflow: hidden;
  width: 70%;
  background: #e2494c;
  float: left;
  /* direction*/
  border-radius: 10px;
}
@media (min-width: 768px) {
  .header .navbar {
    width: 100%;
    float: none;
    margin-top: 30px;
    display: block !important;
  }
}
@media (min-width: 992px) {
  .header .navbar {
    width: 70%;
    float: left;
    /* direction*/
    margin-top: 1em;
  }
}
@media (max-width: 767px) {
  .header .navbar {
    display: none;
    border-radius: 0;
  }
}
.header .navbar li {
  width: 20%;
  float: left;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 767px) {
  .header .navbar li {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.header .navbar li a {
  display: block;
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
}
.header .navbar li a:hover {
  color: #ddd;
}

/* end header */
/* start slider */
.slider blockquote {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  font-family: tahoma, arial;
  line-height: 1.7;
  text-align: center;
  color: #5e5e5e;
  width: 80%;
  margin: 30px auto;
}
.slider img {
  max-width: 100%;
  height: 80%;
}
.slider .boluts {
  text-align: center;
}
.slider .boluts li {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #9c9c9c;
  border-radius: 50%;
  border: 2px solid #9c9c9c;
  cursor: pointer;
}
.slider .boluts li.active, .slider .boluts li:hover {
  background: #fff;
  border: 2px solid #000;
}

/* end slider */
/* start services */
@media (min-width: 992px) {
  .services .services-box {
    float: left;
    width: 33.3333333333%;
  }
  .services .services-box:not(:last-of-type) {
    padding-right: 20px;
  }
}
.services .services-box .services-title i {
  font-size: 40px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}
.services .services-box .desc {
  color: #777;
  line-height: 1.5;
}
.services .services-box .link {
  color: #e2494c;
  text-decoration: none;
}

/* end services */
/* start Our playres */
@media (max-width: 991px) {
  .our-players .players-box {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .our-players .players-box {
    width: 47.5%;
    float: left;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20px;
  }
}
.our-players .players-box .player-img {
  max-width: 100%;
}
.our-players .players-box .players-title {
  color: #666;
  font-weight: normal;
}
.our-players .players-box .players-title span {
  font-weight: bold;
}
.our-players .players-box .desc {
  color: #777;
  line-height: 1.5;
}
.our-players .players-box .link {
  color: #e2494c;
  text-decoration: none;
}

/* end Our playres */
/* start lorum ipsum */
.loremipsum .lorem-box {
  float: left;
  width: 31.3333333333%;
}
.loremipsum .lorem-box:not(:last-of-type) {
  margin-right: 2%;
}
@media (max-width: 767px) {
  .loremipsum .lorem-box {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}

/* end lorum ipsum */
/* start footer */
.footer {
  background: #e2e2e2;
  overflow: hidden;
  padding-top: 30px;
  margin-top: 50px;
}
.footer .gallery, .footer .info, .footer .contact {
  float: left;
}
@media (min-width: 768px) {
  .footer .gallery {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .footer .gallery {
    width: 50%;
  }
}
.footer .gallery .img-box {
  overflow: hidden;
  margin-bottom: 20px;
}
.footer .gallery .img-box img {
  width: 150px;
  height: 150px;
}
@media (min-width: 768px) {
  .footer .gallery .img-box img {
    float: left;
  }
}
@media (min-width: 768px) {
  .footer .gallery .img-box .text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    width: calc(100% - 180px);
  }
}
.footer .gallery .img-box .text h4 {
  color: #e2494c;
  margin: 20px 0 0;
}
.footer .gallery .img-box .text p {
  color: #888;
  line-height: 1.9;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .footer .info {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .footer .info {
    width: 25%;
  }
}
.footer .info ul {
  color: #888;
  line-height: 1.8;
}
.footer .info ul li span {
  color: #e2494c;
  font-weight: bold;
}
.footer .info .working {
  color: #888;
  font-weight: bold;
  margin-bottom: 0px;
}
.footer .info p {
  color: #888;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .footer .contact {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .footer .contact {
    width: 25%;
  }
}
.footer .contact input[type='text'],
.footer .contact input[type='email'],
.footer .contact textarea {
  border: 1px solid #c9c9c9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%;
}
.footer .contact textarea {
  height: 160px;
}
.footer .section-title {
  color: #777;
}
.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid #c5c5c5;
  overflow: hidden;
  color: #888;
  margin-top: 30px;
}
.footer .copyright .copytext, .footer .copyright .author {
  float: left;
  width: 50%;
}
@media (max-width: 991px) {
  .footer .copyright .copytext, .footer .copyright .author {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.footer .copyright .author {
  text-align: right;
}
@media (max-width: 991px) {
  .footer .copyright .author {
    text-align: center;
    margin-top: 20px;
  }
}

/* end footer */

/*# sourceMappingURL=home.css.map */
