doctype html
html
  head
    meta(charset="UTF-8")
    title Responsive Web Diesign
    link(rel="stylesheet" href="css/home.css")
    link(rel="stylesheet" href="css/normalize.css")
    link( href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet")
  body
    // start header
    div(class="header text-center")
      div(class="overlay")
        div.container
          h1 Choose Your Plan
          div(class="plan float-left") Free Plan Contain 10GB
          div(class="plan float-left") 10$ Plan Contain 50GB
          .clearfix
          p(class="order hidden-xs") Order Now and Get Another Plan For Free
    // end header
    //start features 
    div(class="features")
      .container
        h2(class="h1 text-center") Our Features
        div(class="feat float-left")
          h2 Fast
          p This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features
        div(class="feat float-left")
          h2 Secure
          p This Is Secure Features This Is Secure Features This Is Secure Features This Is Secure Features
        div(class="feat float-left")
          h2 Cheap
          p This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features
        .clearfix  
    //end features
    // start about us
    div(class="about-us")
      .container
        h2(class="h1 text-center") About Us
        p.res-prag This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features This Is Fast Features
    // end about us
    // start our works
    div(class="our-work")
      div(class="image")
        img( src="image/05.jpg" alt="")
      div(class="image")
        img( src="image/09.jpg" alt="")
      div(class="image")
        img( src="image/06.png" alt="")
      div(class="image")
        img( src="image/010.jpg" alt="")
      div(class="image")
        img( src="image/07.png" alt="")
      div(class="image")
        img( src="image/011.jpg" alt="")
      div(class="image")
        img( src="image/08.jpg" alt="")
      div(class="image")
        img( src="image/012.jpg" alt="")   
      .clearfix    
    // end our works
    // start pricing table 
    div(class='pricing-table text-center')
      .container
        h2(class="h1") Our Pricing Plan
        div(class='pricing-plan float-left plus')
          h3 Plus
          span(class="pricing") $10
          ul(class="list-unstyle")
            li Disk Space: 50GB
            li Bandwidth: 100GB
            li FTP Accounts: 5
            li Databases: 150
            li Free Domain
        div(class='pricing-plan float-left premium')
          h3 Premium
          span(class="pricing") $20
          ul(class="list-unstyle")
            li Disk Space: 80GB
            li Bandwidth: 120GB
            li FTP Accounts: 25
            li Databases: 50
            li Free Domain
        div(class='pricing-plan float-left ultimate')
          h3 Ultimate
          span(class="pricing") $30
          ul(class="list-unstyle")
            li Disk Space: 120GB
            li Bandwidth: 180GB
            li FTP Accounts: 15
            li Databases: 100
            li Free Domain 
        .clearfix   
    // start testmonials
    div(class="testmonials")
      .container
        h2(class="h1 text-center") What They Say About Us
        div(class="person-say")
          img( class="float-left img-circle img-thumbnail" src="image/avatar.jpg" alt="") 
          h3 Ahmed  
          p This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features This Is Cheap Features This Is Secure Features This Is Secure
        div(class="person-say")
           img(class="float-left img-circle img-thumbnail" src="image/0.jpg" alt="")
           h3 Sayed
           p This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features
        div(class="person-say")
           img(class="float-left img-circle img-thumbnail" src="image/image.jpg" alt="")
           h3 Yousef
           p This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features
        .clearfix   
    // end testmonials  
    // start infromation 
    div(class="infromation")
      .container
        h2(class="h1 text-center") Product Information
        ul(class="list-unstyle info-list")
          li(data-class="about" class="active") About
          li(data-class="history") History
          li(data-class="Specification") Specification
          li(data-class="technical") Technical
          li(data-class="review") Review
        div(class="info-content")
          div(class="about") About This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features This Is Cheap Features This Is Secure Features This Is Secure About This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features This Is Cheap Features This Is Secure Features This Is Secure
          div(class="history") History This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features This Is Cheap Features This Is Secure Features This Is Secure About This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features This Is Cheap Features This Is Secure Features This Is Secure
          div(class="Specification") Specification This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features This Is Cheap Features This Is Secure Features This Is Secure About This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features This Is Cheap Features This Is Secure Features This Is Secure
          div(class="technical") Technical This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features This Is Cheap Features This Is Secure Features This Is Secure About This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features This Is Cheap Features This Is Secure Features This Is Secure
          div(class="review") Review This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features This Is Cheap Features This Is Secure Features This Is Secure About This Is Cheap Features This Is Secure Features This Is Secure Features This Is Secure Features This Is Cheap Features This Is Secure Features This Is Secure
    // end Information
    //start footer
    div(class="footer")
      .container
        div(class="copyright float-left") Copyright to Elzero Web School 2017
        div(class="design float-left") Designed By Yuosef Mohamed
        .clearfix

    //end footer
    script(src="js/jquery-3.2.1.min.js")  
    script(src="js/custom.js")
  
