@mixin minMedium {
    @media (min-width: 992px){
        @content;
    }
}

/*
 ** overlay mixin
*/

@mixin overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}
 /*
    ** prefixes
    ** Auto add prefixes to properties
*/

@mixin prefixer ($proparty, $value, $prefixes: ()){
    
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $proparty}: $value;
    }
    #{$proparty}: $value;
}

 /*
    ** animation mixin
    ** Auto add prefixes to animation
*/

@mixin keyFrame($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
     @keyframes #{$animation-name} {
        @content;
    }
}
