.head-with-border {
    position: relative;
    h2 {
        
        text-align: center;
        background: $redColor;
        color: #fff;
        margin: 40px auto;
        border-radius: 15px;
        width: 400px;
        padding: 10px 15px;
        text-transform: uppercase;
        &:before {
            content: '';
            height: 1px;
            width: 100%;
            background: $greyColor;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: -1
        }
    }
}