/*start global*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
}
.container {
    width: 1200px;
    margin: auto
}
ul {
    list-style: none;
    padding: 0;
    margin: 0
}
h2, h3, h4 {
    font-weight: normal
}
.navbar, .header,
.services, .our-Team,
.testimonials, .our-work,
.footer {
    min-width: 1200px
}
/*end global*/

/*start navbar*/

.navbar {
    font-size: 18px;
    height: 0;
    color: #ffffff;
    position: relative;
    z-index: 2 ;
}
.navbar .brand {
    float: left;
    width: 50%;
    text-transform: uppercase;
    margin-top: 10px
}
.navbar .links {
    float: left;
    width: 50%;
    margin-top: 25px
}
.navbar .links li {
    display: inline-block;
    padding: 10px 0 ;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    cursor: pointer
}
.navbar .links li a {
    color: #fff;
    text-decoration: none
}
.navbar .links li.active a,
.navbar .links li a:hover {
    color: #1cb697;
}
.navbar .links li.active,
.navbar .links li:hover {
    border-bottom: 3px solid #1cb697
}
/*end navbar*/ 

/*start header*/
.header {
    background: url(../image/img-1.jpg);
    position: relative
}
.header .overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.header .bx-wrapper {
    box-shadow: none;
    color: #fff;
    border: 0;
    background: none;
    height: 100% !important;
    text-align: center;
    padding-top: 310px
}
.header .bx-wrapper .bx-viewport {
    height: 100%;
}
.header .bxslider {
    height: 100%;
}
.header .bxslider li {
    display: block;
}
.header .bxslider li h2 {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: bold
}
.header .bxslider li h2 span {
    color: #1cb697
}
/*end header*/

/*start our services*/
.services {
    padding: 80px 20px 40px
}
.services h2 {
    margin: 0 0 50px;
}
.services .item {
    float: left;
    width: 31%;
    margin-bottom: 20px;
    margin-right: 10px
}
.services .item i {
    color: #1cb697;
    float: left;
    width: 17%;
    margin-right: 8%;
    margin-top: 20px
}
.services .item .info {
    float: left;
    width: 75%
}
.services .item .info h3 {
    color: #585353;
    margin-bottom: 15px
}
.services .item .info p {
    color: #888;
    margin-top: 0
} 
.our-Team {
    padding: 40px 20px 40px
}
.our-Team .box {
    float: left;
}
.our-Team h2 {
    padding: 0 0 15px
}
.our-Team .box:first-child {
    width: 35%
}
.our-Team .box:not(:first-child) .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 183px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: rgba(26, 188, 156, 0.6);
    display: none;
}
.our-Team .box:not(:first-child):hover .overlay {
    display: block
}
.our-Team .box p {
    color: #888;
    line-height: 1.5
}
.our-Team .box:not(:first-child) {
    width: 15.25%;
    margin-left: 1%;
    position: relative;
    -webkit-transition: all 5s ease-in-out;
    -moz-transition: all 5s ease-in-out;
    -o-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out
}
.our-Team .box:not(:first-child) img {
    width: 100% 
}
/*end our services*/

/*start testimonials*/
.testimonials {
    background: url(../image/imgs-6.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 80px 0
}
.testimonials .t-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.7)
}
.testimonials h2 {
    font-size: 40px;
    margin: 80px 0 10px;
}
.testimonials q {
    font-size: 20px;
    line-height: 2;
    color: #d0d0d0;
    display: block;
    margin-top: 70px
}
.testimonials p {
    font-size: 30px;
    color: #1cb697;
} 
.testimonials .slider > div {
    display: none
}
.testimonials .slider .active {
    display: block
}
/*end testimonials*/

/* start our work */
.our-work {
    padding: 60px 0;
}
.our-work ul {
    margin-top: 50px
}
.our-work ul li {
    display: inline-block;
    border: 2px solid #d4cccc;
    color: #a7a7a7;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px
}
.our-work ul li.show {
    background: #1cb697;
    border: 2px solid #1cb697;
    color: #fff
}
.our-work .gallery {
    margin-top: 50px;
    overflow: hidden
}
.our-work .gallery  .row > div {
    width: 32%;
    float: left ;
    margin-bottom: 24px;
    position: relative
}
.our-work .gallery  .row > div:nth-child(2) {
    margin-right: 2%;
    margin-left: 2%

}
.our-work .gallery  .row > div .over {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 232px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: rgba(26, 188, 156, 0.6);
    display: none
}
.our-work .gallery  .row > div .heart {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    display: none
}
.our-work .gallery  .row > div:hover .over,
.our-work .gallery  .row > div:hover .heart{
    display: block
}
.our-work .gallery  .row > div img {
    width: 100%
}
.our-work .mix {
}
/* end our work */

/* start create footer */
.footer {
    background: #232323;
    color: #6c6c6c;
    padding: 40px 0;
    overflow: hidden;
}
.footer .col {
    width: 25%;
    float: left
}
.footer .col  h2 {
    color: #fff;
    font-size: 18px
}
.footer .col p {
    margin-bottom: 30px;
    line-height: 1.6
}
.footer .col i {
    border: 1px solid #979797;
    padding: 10px; 
    display: inline-block;
    color: #979797;
    width: 40px;
    margin-right: 5px;
}
.footer .copy-right {
    margin-top: 30px
}

.footer .tags span {
    border: 1px solid #979797;
    padding: 10px;
    display: inline-block;
    color: #ccc;
    margin-right: 10px;
    margin-bottom: 10px
}
.footer .recent  div  {
    overflow: hidden;
    margin-bottom: 15px
}
.footer .recent  div img {
    float: left;
    margin-right: 10px
}
.footer .recent h4 {
    margin: 8px 0;
    color: #ccc; 
}
.footer .block ul li {
    padding: 15px;
    border-bottom: 1px solid #979797;
    color: #ccc 
}
/* end create footer */

/*start my framework*/
.clearfix {
    clear: both
}
.special-heading {
    position: relative;
}
.special-heading:after {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 40px;
    border-bottom: 3px solid #333
}
.separator {
    border: 1px solid #eee;
}
/*end my framework*/32